<button id="btn-logout" class="button">Logout</button>

<h1>IN APPLICATION</h1>
<button id="btn-get-posts" class="button">Get all posts</button>
<br />
<button id="btn-get-posts-by-user" class="button">Get posts by given user</button>
<br />
<input type="text" id="posts-by-content" />
<button id="btn-get-posts-by-user-with-content" class="button">Get posts by substring</button>
<br />
<input type="text" id="post-title" placeholder="title"/>
<input type="text" id="post-body" placeholder="body of post"/>

<button id="btn-post" class="button">Post</button>

<div id="posts-container"></div>
